@import '../../style/App.scss';

.about {
  background-color: $main-color;
  width: 100%;

  .about_text {

  }
}

@media screen and (max-width: 990px) {
  .about {
    text-align: center;

    .about_text {
      position: relative;
      max-width: 370px;
      margin: 0 auto;
    }
  }
}