@import '../../style/App.scss';

.project-box {
  position: relative;
  max-width: 370px;
  min-height: max-content;
  max-height: max-content;
  margin: 15px auto;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $black-color;

  .project-img {
    position: relative;
    width: 100%;
    min-height: 200px;
    max-height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .blog-info {
    padding: 30px 35px 30px 35px;
    color: $white-color;
    max-height: 25vh;
    height: max-content;

    h4 {
      text-transform: uppercase;
    }

    p {
      line-height: 1.5;
      // padding-top: 10px;
    }
  }

  // .project__hover-info {
  //   background-color: rgba($main-color, 0.8);
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   opacity: 0;
  //   transition: 0.3s ease;

  //   p {
  //     text-transform: uppercase;
  //   }
  // }
  // .project__hover-info:hover {
  //   opacity: 1;
  // }
}

@media screen and (max-width: 1080px) {
  .project-box {
    min-height: max-content;
    max-height: max-content;
    
    .blog-info {
      padding: 30px 35px 30px 35px;
      max-height: 25vh;
      height: max-content;
    }
  }
}

@media screen and (max-width: 990px) {
  .project-box {
    min-height: max-content;
    max-height: max-content;
  
    .blog-info {
      padding: 20px 25px 20px 25px;
      max-height: 25vh;
      height: max-content;

      h4 {
        font-size: 1.5rem;
      }
  
      h3 {
        font-size: 1.1rem;
      }

      p {
        // display: none;
        font-size: 1.2rem;
      }
    }
  }
}