@import '../../style/App.scss';
  
.project__box {
  background-color: $black-color;
  position: relative;
  max-width: 370px;
  max-height: 370px;
  min-height: 370px;
  margin: 15px auto;
  cursor: pointer;

  .project_img {
    position: relative;
    width: 100%;
    min-height: 220px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .blog__info {
    padding: 35px;
    color: $white-color;

    h4 {
      text-transform: uppercase;
    }
    
    p {
      line-height: 1.5;
      // padding-top: 10px;
    }
  }

  // .project__hover-info {
  //   background-color: rgba($main-color, 0.8);
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   opacity: 0;
  //   transition: 0.3s ease;
    
  //   p {
  //     text-transform: uppercase;
  //   }
  // }
  // .project__hover-info:hover {
  //   opacity: 1;
  // }
}