// $white-color: #fff;
// $black-color: #1E1E1E;
// $black-color-2: rgb(40, 40, 40);
// $light-color: #fbfbfb;
// $main-color: #fbdb6b;

$white-color: #fff;
$black-color: #191818;
$black-color-2: rgb(40, 40, 40);
$light-color: #f3f3eb;
$main-color: #e74d33;
